@import url('~normalize.css');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}